<!DOCTYPE html>
<head>
	<title>LoopBack</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<script src="//www.chartjs.org/assets/Chart.min.js"></script>
	<script src="/js/underscore.js"></script>
	<script src="/js/jquery.js"></script>
	<script src="/js/bluebird.min.js"></script>
	<script src="/js/utils.js"></script>
	<script src="/js/line-chart.js"></script>
	<script src="/js/lbs.js"></script>

	<!-- Baidu LBS -->
    <link href="/css/baidu.css" rel="stylesheet"/>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gCdDnQegXHHG75PGaWjfInkUuL9A8qbn"></script>
	<!-- 加载百度地图样式信息窗口 -->
	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
	<!-- 加载城市列表 -->
	<script type="text/javascript" src="http://api.map.baidu.com/library/CityList/1.2/src/CityList_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"/>
</head>
<body>
    <h1>Sensor Viewer</h1>
    <canvas id="latestTemporalChart" width="1000" height="300"></canvas>

    <div id="l-map"></div>
	<div id="result">
		<button id="open">打开</button><button id="close">关闭</button>
	</div>

</body>
<script>
	var sensorId = "{{ sensorId }}";

	lineChart.liveLine(
		{ sensorId: sensorId, token: token },
		"/sensorLatestTemporalView",
		"latestTemporalChart", 
		5000
	);
 	baiduMap.sensorMap("", "l-map");
	
	
</script>