<!DOCTYPE html>
<head>
	<title>LoopBack</title>
	<script src="//www.chartjs.org/assets/Chart.min.js"></script>
	<script src="/js/underscore.js"></script>
	<script src="/js/jquery.js"></script>
	<script src="/js/bluebird.min.js"></script>
	<script src="/js/utils.js"></script>
	<script src="/js/line-chart.js"></script>
</head>
<body>
    <h1>LoopBack Rocks!</h1>
    <p>Hello World... </p>
    <canvas id="latestTemporalChart" width="1000" height="300"></canvas>
</body>
<script>
	var sensorId = "{{ sensorId }}";

	lineChart.liveLine(
		{ sensorId: sensorId },
		"/sensorLatestTemporalView",
		"latestTemporalChart", 
		5000
	);
</script>